body{
    background: #fefefe;
}
.logo{
    width: 37px;
}
.app{
    box-shadow: 0 15px 40px -20px rgba(40,44,63,.15);
}
.header{
    display: flex;
    align-items: center;
   background: #fff;
  
}
.header span{
    margin: 0px 0px 0px 26px;
    font-size: 16px;
    font-weight: 600;
    text-decoration: underline;
    color: #3d4152;
    font-family: ProximaNova,arial,Helvetica Neue,sans-serif;
}

.app{
    display: flex;
    justify-content: space-between;
    padding: 0px 25px 0px 25px;
}
.nav-items > ul{
    display: flex;
}
.nav-items > ul > li{
    padding: 0px 45px 0px 0px;
    list-style: none;
    font-size: 16px;
    font-weight: 600;
    color: #3d4152;
    font-family: ProximaNova,arial,Helvetica Neue,sans-serif;
}
.nav-items > ul > li > a{
    color: #3d4152 !important;
    text-decoration: none;
    transition: 0.5s;}
.nav-items > ul > li > a:hover{
    color: #fd771e !important;
    text-decoration: underline;
}

.res-card{
    width: 220px;
    height: 250px;
    padding: 5px;
    margin: 20px 0px 0px 26px;
    transition: 0.5s;
    cursor: pointer;
}
.res-card:hover {
    transform: scale(0.87) !important;
    box-shadow: rgb(50 50 93 / 25%) 0px 30px 60px -12px inset, rgb(0 0 0 / 30%) 0px 18px 36px -18px inset;
}
.search{
    margin: 20px 0px 0px 32px;
    display: flex;
    justify-content: right;
}
.res-card:hover{
    box-shadow: 0 15px 40px -20px rgba(40,44,63,.15);
}
.res-card img{ 
    width: 170px;
    height: 160px;
    border-radius: 12px;
}
h3,h4{
    margin: 3px;
}
h3{
    font-size: 16px;
    font-weight: 600;
    color: #3d4152;
}
h4{
    font-size: 14px;
    font-weight: 400;
    color: #3d4152;
}
.rest-container{
    display: flex;
   flex-wrap: wrap;
     justify-content: center;
}
.filter-btn{
    padding: 16px;
    box-sizing: border-box;
    border: 1.5px solid rgba(2, 6, 12, 0.1);
    border-radius: 12px;
    width: auto;
    height: auto;
    cursor: pointer;
    margin: 0px 10px 0px 0px;
}
.shimmer-container{
    display: flex;
    justify-content: space-between;
    padding: 0px 25px 0px 25px;
    flex-wrap: wrap;
}
.shimmer-card{
    background: #f2f2f2;
    width: 220px;
    height: 250px;
    padding: 5px;
    margin: 20px 0px 0px 26px;
}

.login{
    background: green;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 5px;
    border-radius: 4px;
}
.logout{
    background: red;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 5px;
    border-radius: 4px;
}

/* @media only screen and (max-width: 425px) {
    .logo {
        width: 22px;
    }
} */

/*        Res Menu       */
 .menu{
    padding: 40px 25px 0px 45px;
 }
 .menu span{
    font-size: 13px;
    color: #93959f;
 }
 .offers{
    display: flex;
 }
 .offers > .offer-card{
    display: flex;
    flex-direction: column;
    border: 1px solid #e9e9eb;
    box-sizing: border-box;
    box-shadow: 0 1px 2px rgba(0,0,0,.04);
    border-radius: 8px;
    padding: 8px;
    height: 100%;
    min-width: 200px;
    align-items: center;
    margin: 5px;
 }
 .offers > .offer-card > h4{
    font-size: 12px;
 }
 .menu-border{
    border-bottom: 0.5px solid #d3d3d3;
    height: 0.5px;
    margin: 24px auto;
    width: calc(100% - 32px);
}

/*            Menu         */

.menuIMG {
    width: 118px;
    height: 96px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 6px;
}

.resMenu{
    display: flex;
    align-items: center;
    justify-content: space-around;
}